body {
    font-family: Arial, sans-serif;
    background-color: #555555;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 100px;
    margin: 0;
    color: rgb(22, 22, 22);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeIn 0.9s ease-in-out forwards;
}

h2 {
    font-size: 40px;
    margin: 0;
    color: #888;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeIn 1s ease-in-out forwards;
}

h3 {
    font-size: 10px;
    margin: 0;
    color: #a7a7a7;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline #ffffff;
    animation: fadeIn 1.1s ease-in-out forwards;
}

h4 {
    font-size: 4vh;
    margin: 0;
    color: #888;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.box {
    width: 300px;
    height: 250px;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgb(0, 0, 0);
    text-align: center;
    animation: fadeIn 1.2s ease-in-out forwards;
}

.box:active {
    background-color: #d1d1d1;
}

.box:active h3 {
    text-decoration: underline #d1d1d1;
}

.discordBox {
    width: 300px;
    height: 250px;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    animation: fadeIn 1.3s ease-in-out forwards;
}

.discordBox:active {
    background-color: #d1d1d1;
}

.discordBox:active h3 {
    text-decoration: underline #d1d1d1;
}

.beatstatsBox {
    width: 900px;
    /* height: 500px; */
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgb(0, 0, 0);
    text-align: center;
    animation: fadeIn 1.4s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    display: flex;
    align-items: center;
    text-decoration: underline #190d47;
}

.header:active {
    text-decoration: underline #9147fe;
}

.header:visited {
    text-decoration: underline #190d47;
}

.header img {
    margin-right: 10px;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.topography-shape {
    width: 100%;
    height: 100%;
}

/* Socials */

#tiktok {
    text-decoration: underline #000000;
}

#tiktok:active {
    text-decoration: underline #858585;
}

#youtube {
    text-decoration: underline #ff0000;
}

#youtube:active {
    text-decoration: underline #ff8f8f;
}

#twitch {
    text-decoration: underline #9147fe;
}

#twitch:active {
    text-decoration: underline #b685ff;
}

#beatleader {
    text-decoration: underline #47fea3;
}

#beatleader:active {
    text-decoration: underline #a3ffd1;
}

#steam {
    text-decoration: underline #000296;
}

#steam:active {
    text-decoration: underline #373899;
}

#discord {
    text-decoration: underline #0f63ff;
}

#discord:active {
    text-decoration: underline #7ba9ff;
}

#ss {
    color: yellow;
}

#bl {
    color: #47fea3;
}

/* modal */

#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 5%;
    background-color: rgba(0, 158, 179, 0.7);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: dropIn 0.5s ease-in forwards;
}

.modal-content {
    background-color: #fff;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 10% auto;
    max-width: 500px;
    animation: dropIn 0.5s ease-in forwards;
}

.modal-heading {
    font-size: 30px;
    margin-bottom: 20px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dropOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}